{{ define "top" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta 
        name="viewport" 
        content="width=device-width, initial-scale=1">
    <link 
        rel="stylesheet" 
        href="https://cdn.simplecss.org/simple.min.css">
    <title>{{ .title }}</title>
</head>
<body>
{{ end }}

{{ define "top_with_editor"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta 
        name="viewport" 
        content="width=device-width, initial-scale=1">
    <link 
        rel="stylesheet" 
        href="https://cdn.simplecss.org/simple.min.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.0/classic/ckeditor.js"></script>
    <title>{{ .title }}</title>
</head>
<body>
{{ end }}

{{ define "navigation"}}
<header>
<nav>
    <a href="/">Home</a>
    <a href="/words">Words</a>
    <a href="/definitions/new">New Definition</a>
</nav>
<form action="/search" method="get">
    <input 
        type="text" 
        placeholder="Search" 
        name="query"
        required/>
    <button type="submit">Search</button>
</form>
{{ end }}

{{ define "paginationlink"}}
    {{ if .IsEllipsis }}
        <li><span>&hellip;</span></li>
    {{ else if  .IsCurrent }}
        <li><a aria-label="Page {{.Value}}" aria-current="page">{{.Value}}</a></li>
    {{ else }}
        <li><a aria-label="Goto page {{.Value}}" href={{.PageUrl}}>{{.Value}}</a></li>
    {{ end }}
{{ end }}

{{ define "pagination"}}
    <header>
    <nav>


    <ul>
        {{ if .previousPageLink.Enabled }}
            <li>
                <a href={{.previousPageLink.Url}}>Previous</a>
            </li>
        {{ end }}

        {{ range .pagination}}
            {{ template "paginationlink" . }}
        {{ end }}

        {{ if .nextPageLink.Enabled }}
            <li>
                <a href={{.nextPageLink.Url}}>Next page</a>
            </li>
        {{ end }}
    </ul>


    </nav>
    </header>
{{end}}

{{ define "bottom" }}
<footer>
    <p>Made with ❤️ by Pawsitech LLC</p>
    <a 
        href="https://github.com/ctiller15/dog_defs" 
        target="_blank">View on Github</a>
    <a 
        href="https://ko-fi.com/christophertiller" 
        target="_blank">Support this project!</a>
</footer>
</body>
</html>
{{ end }}