{{template "top" .}}
{{template "navigation" .}}
  <h1>
    {{ .greeting }}
  </h1>
</header>
  <main>
    <h2>What is this?</h2>
    <p>DogDefs was made with a simple goal: to gather all of the crazy words in the dog world into one place! This is to serve as a free resource for all dog enthusiasts both new and experienced.</p>
    <p>And yes, the plan is to have it be free, with no ads, <i><strong>forever</strong></i></p>
    <p>With that out of the way, why don't you explore a little bit? You can check out our <a href="/words">list of words</a>, search for something (look up), or <a href="/definitions/new">add your own</a>!</p>
    <p>Thanks for visiting, hope you find it useful!</p>

  </main>
{{template "bottom" .}}