{{template "top" .}}
{{template "navigation" .}}
    <h1>Submit a Definition</h1>
    <p>Share what you know - Every bit helps!</p>
</header>
<main>

    <form action="/definitions/new" method="POST">

        <label for="word">Word *</label>
        <input 
            type="text" 
            name="word" 
            id="word" 
            placeholder="puppy" 
            required/>
        
        <label for="definition">Definition *</label>
        <span style="display: inline">
            <button 
                title="add a link to the description"
                style="width: 2em; height: 2em"
                id="anchorButton">🔗</button>
        </span>
        <textarea
            style="display: block"
            rows="4"
            cols="50"
            maxlength="1000"
            name="definition" 
            id="definition" 
            placeholder="An adorable four legged mammal" 
            required></textarea>

        <label for="pos">Part of Speech</label>
        <select name="pos" id="pos">
            <option disabled selected value> -- select an option -- </option>
            <option value="noun">Noun</option>
            <option value="verb">Verb</option>
            <option value="adverb">Adverb</option>
            <option value="adjective">Adjective</option>
        </select>

        <label for="reference">Reference</label>
        <textarea 
            rows="2"
            cols="50"
            name="reference" 
            id="reference" 
            placeholder="Book, journal, article, etc."></textarea>

        <label for="link">Link</label>
        <input 
            type="url" 
            name="link" 
            id="link" 
            placeholder="Link to blog, website, etc."/>

        <section>
            <button type="submit">Submit Definition</button>
            <button type="reset">Reset</button>
        </section>
    </form>
    <script>
        const textArea = document.querySelector('#definition')
        const anchorButton = document.querySelector('#anchorButton')
        anchorButton.addEventListener('click', function(e) {
            e.preventDefault()
            console.log(textArea)
            const text = textArea.value
            const newText = text + ' <a href="/words/slug-goes-here">text-goes-here</a>'
            textArea.value = newText
        })

    </script>
</main>
{{template "bottom" .}}